<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav__link--active" class="nav__link" (click)="onClickNav()">Informations</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" (click)="onClickNav()">Plans</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" (click)="onClickNav()">Visites</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" (click)="onClickNav()">Observations</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" (click)="onClickNav()">Remarques</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" (click)="onClickNav()">Digitform</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" (click)="onClickNav()">Rapports</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" (click)="onClickNav()">Tableau de bord</a>
        </li>
    </ul>
</nav>